<div class="image-container">
  <img src="assets/one_dollar.jpg" alt="Dollar" class="dollar-image">
</div>
<div class="center-content">
  <form [formGroup]="invitationForm" (ngSubmit)="submitInvitation()">
    <div>
      <label for="name">Name:</label>
      <input type="text" formControlName="name" id="name">
    </div>
    <div>
      <label for="surname">Surname:</label>
      <input type="text" formControlName="surname" id="surname">
    </div>
    <div class="question-container">
      <label for="attending" class="question-label">Are you planning to attend?</label>
      <div class="radio-group">
        <label class="radio-label">
          <input type="radio" formControlName="attending" value="yes">
          <span class="checkmark"></span>
          <span class="text">Yes</span>
        </label>
        <label class="radio-label">
          <input type="radio" formControlName="attending" value="no">
          <span class="checkmark"></span>
          <span class="text">No</span>
        </label>
      </div>
    </div>
    <div *ngIf="showRedMessage" class="red-message">
      Yo fam, we're already on our way to persuade you to roll through! Don't make us pull up, innit?
    </div>
    <div *ngIf="!showRedMessage && showAcceptance" class="acceptance-message">
      Thank you very much! We look forward to seeing you on the wedding day.
    </div>
    <button [ngClass]="{'disabled-button': !invitationForm.valid || showRedMessage}"  type="submit" class="envelope-button">Submit selection</button>
  </form>
</div>
